body {
    background-color: #2c3e50;

    
}
.all{
    text-align: center;
    transform: translateY(70%);
}
.shadow {
    text-shadow: 2px 2px 2px black;
}

.btn{
    cursor : pointer;
}
h1 {
    color: #ffffff;
    text-align: center;
    transition: color 0.9s ease-in-out;
}

.clicked {
    color: red;
}

.toDoSpan {
    padding-left:300;
}

input[type=text] {
    width: 450px;
    border: none;
    border-bottom: 4px solid white;
    font-size: 20pt;
    background-color:transparent;
    color: white;
    text-shadow: 1px 1px 1px black;
    
}

input::placeholder {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.js-toDoList{
    text-align: left;
    padding-left: 42%;
}

input:focus {outline:none;}

input {
    display:inline-block;
    text-align: center;
}

.js-toDoForm {
    text-align: center;
}

.js-clock {
    text-align: center;
    font-size: 40pt;
    padding-top: 200px;
}

.form {
    font-size: 30pt;
    display: none;
    text-align: center;
}

.greetings {
    font-size: 30pt;
    display: none;
    text-align: center;
}

.showing {
    display: block;
    color: #ffffff;
}

@keyframes fadeIn{
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.js-weather {
    color: #ffffff;
    position: absolute;
    top:0px;
    right:0;
    text-shadow: 1px 1px 1px black;
}
